In [3]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [ ]:
import pandas as pd
df=pd.read_csv("transactions.csv")
# 1. Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [4]:
#2. Print Numbers of Attributes
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [5]:
# 3. Print Numbers of Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#4. Get the row names
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [11]:
print(df.values)

[[1 '2010-08-21' 7.0 2 1]
 [2 '2011-05-26' 3.0 4 1]
 [3 '2011-06-16' 3.0 3 1]
 [4 '2012-08-26' 1.0 2 3]
 [5 '2013-06-06' 2.0 4 1]
 [6 '2013-12-23' 2.0 5 6]
 [7 '2013-12-30' 3.0 4 1]
 [8 '2014-04-24' nan 2 3]
 [9 '2015-04-24' 7.0 4 3]
 [10 '2016-05-08' 3.0 4 4]]

In [12]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [14]:
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [ ]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns={"p":"PID","u":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [28]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df_sorted = df.sort_values(by="TransactionID", ascending=False)
print(df_sorted.head(10))

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [29]:
df_sorted = df.sort_values(by="TransactionID", ascending=True)
print(df_sorted.head(10))

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [5]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
import pandas as pd
df=pd.read_csv("transactions.csv")
df_sorted=df.sort_values(by=["Quantity","TransactionDate"],ascending=[True,False] )
print(df_sorted.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [7]:
#11. Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID
df=df[['ProductID','Quantity','TransactionDate','TransactionID','UserID']]
print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [8]:
#12. Make UserID the first column of transactions
df=df[['UserID','ProductID','Quantity','TransactionDate','TransactionID']]
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [ ]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
print(df.iloc[:, 1].values)

[2 4 3 2 4 5 4 2 4 4]

In [ ]:
#14 Get the ProductID Array
print(df.iloc[:,2].values)

[ 7.  3.  3.  1.  2.  2.  3. nan  7.  3.]