In [28]:
import pandas as pd
import numpy as np
df=pd.read_csv("Car_sales.csv")
df["Price in thousands"]=df["Price in thousands"].replace('.',np.nan)
df["Curb weight"]=df["Curb weight"].replace('.',np.nan)
df["Wheelbase"]=df["Wheelbase"].replace('.',np.nan)
df["4-year resale value"]=df["4-year resale value"].replace('.',np.nan)
df["Engine size"]=df["Engine size"].replace('.',np.nan)
df["Horsepower"]=df["Horsepower"].replace('.',np.nan)
df["Width"]=df["Width"].replace('.',np.nan)
df["Length"]=df["Length"].replace('.',np.nan)
df["Fuel capacity"]=df["Fuel capacity"].replace('.',np.nan)
#df["Engine size"]=df["Engine size"].replace('.',np.nan)
df["Fuel efficiency"]=df["Fuel efficiency"].replace('.',np.nan)
#df['Fuel efficiency'].fillna(df['Fuel efficiency'].mean(), inplace=True)


df["Fuel capacity"]=df["Fuel capacity"].astype('float64')
df["Length"]=df["Length"].astype('float64')
df["Width"]=df["Width"].astype('float64')
df["Horsepower"]=df["Horsepower"].astype('float64')
df["Engine size"]=df["Engine size"].astype('float64')
df["4-year resale value"]=df["4-year resale value"].astype('float64')
df["Wheelbase"]=df["Wheelbase"].astype('float64')
df["Curb weight"]=df["Curb weight"].astype('float64')
df["Price in thousands"]=df["Price in thousands"].astype('float64')
df["Fuel efficiency"]=df["Fuel efficiency"].astype('float64')

df['Fuel efficiency'].fillna(df['Fuel efficiency'].mean(), inplace=True)
df['Fuel capacity'].fillna(df['Fuel capacity'].mean(),inplace=True)
df['Price in thousands'].fillna(df['Price in thousands'].mean(),inplace=True)
df['Curb weight'].fillna(df['Curb weight'].mean(),inplace=True)
df['4-year resale value'].fillna(df['4-year resale value'].mean(),inplace=True)
df['Engine size'].fillna(df['Engine size'].mean(),inplace=True)
df['Horsepower'].fillna(df['Horsepower'].mean(),inplace=True)
df['Wheelbase'].fillna(df['Wheelbase'].mean(),inplace=True)
df['Length'].fillna(df['Length'].mean(),inplace=True)
df['Width'].fillna(df['Width'].mean(),inplace=True)
print(df)

      Manufacturer              Model  Sales in thousands  \
0    Acura          Integra                        16.919
1    Acura          TL                             39.384
2    Acura          CL                             14.114
3    Acura          RL                              8.588
4    Audi           A4                             20.397
5    Audi           A6                             18.780
6    Audi           A8                              1.380
7    BMW            323i                           19.747
8    BMW            328i                            9.231
9    BMW            528i                           17.527
10   Buick          Century                        91.561
11   Buick          Regal                          39.350
12   Buick          Park Avenue                    27.851
13   Buick          LeSabre                        83.257
14   Cadillac       DeVille                        63.729
15   Cadillac       Seville                        15.943
16   Cadillac       Eldorado                        6.536
17   Cadillac       Catera                         11.185
18   Cadillac       Escalade                       14.785
19   Chevrolet      Cavalier                      145.519
20   Chevrolet      Malibu                        135.126
21   Chevrolet      Lumina                         24.629
22   Chevrolet      Monte Carlo                    42.593
23   Chevrolet      Camaro                         26.402
24   Chevrolet      Corvette                       17.947
25   Chevrolet      Prizm                          32.299
26   Chevrolet      Metro                          21.855
27   Chevrolet      Impala                        107.995
28   Chrysler       Sebring Coupe                   7.854
29   Chrysler       Sebring Conv.                  32.775
..             ...                ...                 ...
127  Saab                       5-Sep               9.191
128  Saab                       3-Sep              12.115
129  Saturn         SL                             80.620
130  Saturn         SC                             24.546
131  Saturn         SW                              5.223
132  Saturn         LW                              8.472
133  Saturn         LS                             49.989
134  Subaru         Outback                        47.107
135  Subaru         Forester                       33.028
136  Toyota         Corolla                       142.535
137  Toyota         Camry                         247.994
138  Toyota         Avalon                         63.849
139  Toyota         Celica                         33.269
140  Toyota         Tacoma                         84.087
141  Toyota         Sienna                         65.119
142  Toyota         RAV4                           25.106
143  Toyota         4Runner                        68.411
144  Toyota         Land Cruiser                    9.835
145  Volkswagen     Golf                            9.761
146  Volkswagen     Jetta                          83.721
147  Volkswagen     Passat                         51.102
148  Volkswagen     Cabrio                          9.569
149  Volkswagen     GTI                             5.596
150  Volkswagen     Beetle                         49.463
151  Volvo          S40                            16.957
152  Volvo          V40                             3.545
153  Volvo          S70                            15.245
154  Volvo          V70                            17.531
155  Volvo          C70                             3.493
156  Volvo          S80                            18.969

     4-year resale value Vehicle type  Price in thousands  Engine size  \
0              16.360000    Passenger           21.500000          1.8
1              19.875000    Passenger           28.400000          3.2
2              18.225000    Passenger           27.390755          3.2
3              29.725000    Passenger           42.000000          3.5
4              22.255000    Passenger           23.990000          1.8
5              23.555000    Passenger           33.950000          2.8
6              39.000000    Passenger           62.000000          4.2
7              18.072975    Passenger           26.990000          2.5
8              28.675000    Passenger           33.400000          2.8
9              36.125000    Passenger           38.900000          2.8
10             12.475000    Passenger           21.975000          3.1
11             13.740000    Passenger           25.300000          3.8
12             20.190000    Passenger           31.965000          3.8
13             13.360000    Passenger           27.885000          3.8
14             22.525000    Passenger           39.895000          4.6
15             27.100000    Passenger           44.475000          4.6
16             25.725000    Passenger           39.665000          4.6
17             18.225000    Passenger           31.010000          3.0
18             18.072975          Car           46.225000          5.7
19              9.250000    Passenger           13.260000          2.2
20             11.225000    Passenger           16.535000          3.1
21             10.310000    Passenger           18.890000          3.1
22             11.525000    Passenger           19.390000          3.4
23             13.025000    Passenger           24.340000          3.8
24             36.225000    Passenger           45.705000          5.7
25              9.125000    Passenger           13.960000          1.8
26              5.160000    Passenger            9.235000          1.0
27             18.072975    Passenger           18.890000          3.4
28             12.360000    Passenger           19.840000          2.5
29             14.180000    Passenger           24.495000          2.5
..                   ...          ...                 ...          ...
127            18.072975    Passenger           33.120000          2.3
128            18.072975    Passenger           26.100000          2.0
129             9.200000    Passenger           10.685000          1.9
130            10.590000    Passenger           12.535000          1.9
131            10.790000    Passenger           14.290000          1.9
132            18.072975    Passenger           18.835000          2.2
133            18.072975    Passenger           15.010000          2.2
134            18.072975    Passenger           22.695000          2.5
135            18.072975          Car           20.095000          2.5
136            10.025000    Passenger           13.108000          1.8
137            13.245000    Passenger           17.518000          2.2
138            18.140000    Passenger           25.545000          3.0
139            15.445000    Passenger           16.875000          1.8
140             9.575000          Car           11.528000          2.4
141            18.072975          Car           22.368000          3.0
142            13.325000          Car           16.888000          2.0
143            19.425000          Car           22.288000          2.7
144            34.080000          Car           51.728000          4.7
145            11.425000    Passenger           14.900000          2.0
146            13.240000    Passenger           16.700000          2.0
147            16.725000    Passenger           21.200000          1.8
148            16.575000    Passenger           19.990000          2.0
149            13.760000    Passenger           17.500000          2.0
150            18.072975    Passenger           15.900000          2.0
151            18.072975    Passenger           23.400000          1.9
152            18.072975    Passenger           24.400000          1.9
153            18.072975    Passenger           27.500000          2.4
154            18.072975    Passenger           28.800000          2.4
155            18.072975    Passenger           45.500000          2.3
156            18.072975    Passenger           36.000000          2.9

     Horsepower  Wheelbase  Width  Length  Curb weight  Fuel capacity  \
0         140.0      101.2   67.3   172.4     2.639000           13.2
1         225.0      108.1   70.3   192.9     3.517000           17.2
2         225.0      106.9   70.6   192.0     3.470000           17.2
3         210.0      114.6   71.4   196.6     3.850000           18.0
4         150.0      102.6   68.2   178.0     2.998000           16.4
5         200.0      108.7   76.1   192.0     3.561000           18.5
6         310.0      113.0   74.0   198.2     3.902000           23.7
7         170.0      107.3   68.4   176.0     3.179000           16.6
8         193.0      107.3   68.5   176.0     3.197000           16.6
9         193.0      111.4   70.9   188.0     3.472000           18.5
10        175.0      109.0   72.7   194.6     3.368000           17.5
11        240.0      109.0   72.7   196.2     3.543000           17.5
12        205.0      113.8   74.7   206.8     3.778000           18.5
13        205.0      112.2   73.5   200.0     3.591000           17.5
14        275.0      115.3   74.5   207.2     3.978000           18.5
15        275.0      112.2   75.0   201.0     3.378026           18.5
16        275.0      108.0   75.5   200.6     3.843000           19.0
17        200.0      107.4   70.3   194.8     3.770000           18.0
18        255.0      117.5   77.0   201.2     5.572000           30.0
19        115.0      104.1   67.9   180.9     2.676000           14.3
20        170.0      107.0   69.4   190.4     3.051000           15.0
21        175.0      107.5   72.5   200.9     3.330000           16.6
22        180.0      110.5   72.7   197.9     3.340000           17.0
23        200.0      101.1   74.1   193.2     3.500000           16.8
24        345.0      104.5   73.6   179.7     3.210000           19.1
25        120.0       97.1   66.7   174.3     2.398000           13.2
26         55.0       93.1   62.6   149.4     1.895000           10.3
27        180.0      110.5   73.0   200.0     3.389000           17.0
28        163.0      103.7   69.7   190.9     2.967000           15.9
29        168.0      106.0   69.2   193.0     3.332000           16.0
..          ...        ...    ...     ...          ...            ...
127       170.0      106.4   70.6   189.2     3.280000           18.5
128       185.0      102.6   67.4   182.2     2.990000           16.9
129       100.0      102.4   66.4   176.9     2.332000           12.1
130       100.0      102.4   66.4   180.0     2.367000           12.1
131       124.0      102.4   66.4   176.9     2.452000           12.1
132       137.0      106.5   69.0   190.4     3.075000           13.1
133       137.0      106.5   69.0   190.4     2.910000           13.1
134       165.0      103.5   67.5   185.8     3.415000           16.9
135       165.0       99.4   68.3   175.2     3.125000           15.9
136       120.0       97.0   66.7   174.0     2.420000           13.2
137       133.0      105.2   70.1   188.5     2.998000           18.5
138       210.0      107.1   71.7   191.9     3.417000           18.5
139       140.0      102.4   68.3   170.5     2.425000           14.5
140       142.0      103.3   66.5   178.7     2.580000           15.1
141       194.0      114.2   73.4   193.5     3.759000           20.9
142       127.0       94.9   66.7   163.8     2.668000           15.3
143       150.0      105.3   66.5   183.3     3.440000           18.5
144       230.0      112.2   76.4   192.5     5.115000           25.4
145       115.0       98.9   68.3   163.3     2.767000           14.5
146       115.0       98.9   68.3   172.3     2.853000           14.5
147       150.0      106.4   68.5   184.1     3.043000           16.4
148       115.0       97.4   66.7   160.4     3.079000           13.7
149       115.0       98.9   68.3   163.3     2.762000           14.6
150       115.0       98.9   67.9   161.1     2.769000           14.5
151       160.0      100.5   67.6   176.6     2.998000           15.8
152       160.0      100.5   67.6   176.6     3.042000           15.8
153       168.0      104.9   69.3   185.9     3.208000           17.9
154       168.0      104.9   69.3   186.2     3.259000           17.9
155       236.0      104.9   71.5   185.7     3.601000           18.5
156       201.0      109.9   72.1   189.8     3.600000           21.1

     Fuel efficiency Latest Launch
0               28.0      2-Feb-14
1               25.0      6-Mar-15
2               26.0      1-Apr-14
3               22.0      3-Oct-15
4               27.0     10-Aug-15
5               22.0      8-Sep-15
6               21.0     27-Feb-14
7               26.0     28-Jun-15
8               24.0     29-Jan-14
9               25.0      4-Apr-15
10              25.0     11-Feb-15
11              23.0      9-Mar-15
12              24.0     23-Mar-14
13              25.0     23-Jul-15
14              22.0     23-Feb-14
15              22.0     29-Apr-15
16              22.0     27-Nov-15
17              22.0     28-Sep-15
18              15.0     17-Apr-14
19              27.0     17-Aug-15
20              25.0     19-Mar-14
21              25.0     24-May-15
22              27.0     22-Dec-15
23              25.0     23-Oct-15
24              22.0      5-Dec-14
25              33.0      9-Nov-15
26              45.0     13-Apr-14
27              27.0     18-Jun-15
28              24.0     16-Jan-14
29              24.0     17-Nov-15
..               ...           ...
127             23.0     11-Sep-14
128             23.0      6-Dec-15
129             33.0     16-Aug-14
130             33.0     16-Mar-15
131             31.0     15-Jan-15
132             27.0      8-May-15
133             28.0     12-Apr-14
134             25.0      7-Jul-15
135             24.0      9-Oct-14
136             33.0      4-Nov-15
137             27.0      2-Oct-15
138             26.0     31-Aug-15
139             31.0     29-Dec-14
140             23.0      8-Jan-15
141             22.0     10-May-14
142             27.0      5-Jun-15
143             23.0      3-Jul-15
144             15.0     25-Sep-15
145             26.0     24-Jan-15
146             26.0     27-Aug-15
147             27.0     30-Oct-14
148             26.0     31-May-15
149             26.0      4-Jan-15
150             26.0     20-Oct-15
151             25.0     18-Feb-15
152             25.0     21-Sep-15
153             25.0     24-Nov-14
154             25.0     25-Jun-15
155             23.0     26-Apr-15
156             24.0     14-Nov-15

[157 rows x 15 columns]

In [ ]:
#1 print first 5 values from top
print(df.head())

    Manufacturer              Model  Sales in thousands  4-year resale value  \
0  Acura          Integra                        16.919               16.360
1  Acura          TL                             39.384               19.875
2  Acura          CL                             14.114               18.225
3  Acura          RL                              8.588               29.725
4  Audi           A4                             20.397               22.255

  Vehicle type  Price in thousands  Engine size  Horsepower  Wheelbase  Width  \
0    Passenger           21.500000          1.8       140.0      101.2   67.3
1    Passenger           28.400000          3.2       225.0      108.1   70.3
2    Passenger           27.390755          3.2       225.0      106.9   70.6
3    Passenger           42.000000          3.5       210.0      114.6   71.4
4    Passenger           23.990000          1.8       150.0      102.6   68.2

   Length  Curb weight  Fuel capacity  Fuel efficiency Latest Launch
0   172.4        2.639           13.2             28.0      2-Feb-14
1   192.9        3.517           17.2             25.0      6-Mar-15
2   192.0        3.470           17.2             26.0      1-Apr-14
3   196.6        3.850           18.0             22.0      3-Oct-15
4   178.0        2.998           16.4             27.0     10-Aug-15

In [ ]:
#2 2. Print dataframe info_data types of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
Manufacturer           157 non-null object
Model                  157 non-null object
Sales in thousands     157 non-null float64
4-year resale value    157 non-null float64
Vehicle type           157 non-null object
Price in thousands     157 non-null float64
Engine size            157 non-null float64
Horsepower             157 non-null float64
Wheelbase              157 non-null float64
Width                  157 non-null float64
Length                 157 non-null float64
Curb weight            157 non-null float64
Fuel capacity          157 non-null float64
Fuel efficiency        157 non-null float64
Latest Launch          157 non-null object
dtypes: float64(11), object(4)
memory usage: 18.5+ KB
None

In [ ]:
# 3. Print number of rows and columns
rows=df.shape[0]
columns=df.shape[1]
print(rows)
print(columns)

157
15

In [36]:
#4. Drop duplicate rows_if any
df.drop_duplicates()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140.0,101.2,67.3,172.4,2.639000,13.2,28.0,2-Feb-14
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225.0,108.1,70.3,192.9,3.517000,17.2,25.0,6-Mar-15
2,Acura,CL,14.114,18.225000,Passenger,27.390755,3.2,225.0,106.9,70.6,192.0,3.470000,17.2,26.0,1-Apr-14
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210.0,114.6,71.4,196.6,3.850000,18.0,22.0,3-Oct-15
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150.0,102.6,68.2,178.0,2.998000,16.4,27.0,10-Aug-15
5,Audi,A6,18.780,23.555000,Passenger,33.950000,2.8,200.0,108.7,76.1,192.0,3.561000,18.5,22.0,8-Sep-15
6,Audi,A8,1.380,39.000000,Passenger,62.000000,4.2,310.0,113.0,74.0,198.2,3.902000,23.7,21.0,27-Feb-14
7,BMW,323i,19.747,18.072975,Passenger,26.990000,2.5,170.0,107.3,68.4,176.0,3.179000,16.6,26.0,28-Jun-15
8,BMW,328i,9.231,28.675000,Passenger,33.400000,2.8,193.0,107.3,68.5,176.0,3.197000,16.6,24.0,29-Jan-14
9,BMW,528i,17.527,36.125000,Passenger,38.900000,2.8,193.0,111.4,70.9,188.0,3.472000,18.5,25.0,4-Apr-15
10,Buick,Century,91.561,12.475000,Passenger,21.975000,3.1,175.0,109.0,72.7,194.6,3.368000,17.5,25.0,11-Feb-15
11,Buick,Regal,39.350,13.740000,Passenger,25.300000,3.8,240.0,109.0,72.7,196.2,3.543000,17.5,23.0,9-Mar-15
12,Buick,Park Avenue,27.851,20.190000,Passenger,31.965000,3.8,205.0,113.8,74.7,206.8,3.778000,18.5,24.0,23-Mar-14
13,Buick,LeSabre,83.257,13.360000,Passenger,27.885000,3.8,205.0,112.2,73.5,200.0,3.591000,17.5,25.0,23-Jul-15
14,Cadillac,DeVille,63.729,22.525000,Passenger,39.895000,4.6,275.0,115.3,74.5,207.2,3.978000,18.5,22.0,23-Feb-14
15,Cadillac,Seville,15.943,27.100000,Passenger,44.475000,4.6,275.0,112.2,75.0,201.0,3.378026,18.5,22.0,29-Apr-15
16,Cadillac,Eldorado,6.536,25.725000,Passenger,39.665000,4.6,275.0,108.0,75.5,200.6,3.843000,19.0,22.0,27-Nov-15
17,Cadillac,Catera,11.185,18.225000,Passenger,31.010000,3.0,200.0,107.4,70.3,194.8,3.770000,18.0,22.0,28-Sep-15
18,Cadillac,Escalade,14.785,18.072975,Car,46.225000,5.7,255.0,117.5,77.0,201.2,5.572000,30.0,15.0,17-Apr-14
19,Chevrolet,Cavalier,145.519,9.250000,Passenger,13.260000,2.2,115.0,104.1,67.9,180.9,2.676000,14.3,27.0,17-Aug-15
20,Chevrolet,Malibu,135.126,11.225000,Passenger,16.535000,3.1,170.0,107.0,69.4,190.4,3.051000,15.0,25.0,19-Mar-14
21,Chevrolet,Lumina,24.629,10.310000,Passenger,18.890000,3.1,175.0,107.5,72.5,200.9,3.330000,16.6,25.0,24-May-15
22,Chevrolet,Monte Carlo,42.593,11.525000,Passenger,19.390000,3.4,180.0,110.5,72.7,197.9,3.340000,17.0,27.0,22-Dec-15
23,Chevrolet,Camaro,26.402,13.025000,Passenger,24.340000,3.8,200.0,101.1,74.1,193.2,3.500000,16.8,25.0,23-Oct-15
24,Chevrolet,Corvette,17.947,36.225000,Passenger,45.705000,5.7,345.0,104.5,73.6,179.7,3.210000,19.1,22.0,5-Dec-14
25,Chevrolet,Prizm,32.299,9.125000,Passenger,13.960000,1.8,120.0,97.1,66.7,174.3,2.398000,13.2,33.0,9-Nov-15
26,Chevrolet,Metro,21.855,5.160000,Passenger,9.235000,1.0,55.0,93.1,62.6,149.4,1.895000,10.3,45.0,13-Apr-14
27,Chevrolet,Impala,107.995,18.072975,Passenger,18.890000,3.4,180.0,110.5,73.0,200.0,3.389000,17.0,27.0,18-Jun-15
28,Chrysler,Sebring Coupe,7.854,12.360000,Passenger,19.840000,2.5,163.0,103.7,69.7,190.9,2.967000,15.9,24.0,16-Jan-14
29,Chrysler,Sebring Conv.,32.775,14.180000,Passenger,24.495000,2.5,168.0,106.0,69.2,193.0,3.332000,16.0,24.0,17-Nov-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Saab,5-Sep,9.191,18.072975,Passenger,33.120000,2.3,170.0,106.4,70.6,189.2,3.280000,18.5,23.0,11-Sep-14
128,Saab,3-Sep,12.115,18.072975,Passenger,26.100000,2.0,185.0,102.6,67.4,182.2,2.990000,16.9,23.0,6-Dec-15
129,Saturn,SL,80.620,9.200000,Passenger,10.685000,1.9,100.0,102.4,66.4,176.9,2.332000,12.1,33.0,16-Aug-14
130,Saturn,SC,24.546,10.590000,Passenger,12.535000,1.9,100.0,102.4,66.4,180.0,2.367000,12.1,33.0,16-Mar-15
131,Saturn,SW,5.223,10.790000,Passenger,14.290000,1.9,124.0,102.4,66.4,176.9,2.452000,12.1,31.0,15-Jan-15
132,Saturn,LW,8.472,18.072975,Passenger,18.835000,2.2,137.0,106.5,69.0,190.4,3.075000,13.1,27.0,8-May-15
133,Saturn,LS,49.989,18.072975,Passenger,15.010000,2.2,137.0,106.5,69.0,190.4,2.910000,13.1,28.0,12-Apr-14
134,Subaru,Outback,47.107,18.072975,Passenger,22.695000,2.5,165.0,103.5,67.5,185.8,3.415000,16.9,25.0,7-Jul-15
135,Subaru,Forester,33.028,18.072975,Car,20.095000,2.5,165.0,99.4,68.3,175.2,3.125000,15.9,24.0,9-Oct-14
136,Toyota,Corolla,142.535,10.025000,Passenger,13.108000,1.8,120.0,97.0,66.7,174.0,2.420000,13.2,33.0,4-Nov-15
137,Toyota,Camry,247.994,13.245000,Passenger,17.518000,2.2,133.0,105.2,70.1,188.5,2.998000,18.5,27.0,2-Oct-15
138,Toyota,Avalon,63.849,18.140000,Passenger,25.545000,3.0,210.0,107.1,71.7,191.9,3.417000,18.5,26.0,31-Aug-15
139,Toyota,Celica,33.269,15.445000,Passenger,16.875000,1.8,140.0,102.4,68.3,170.5,2.425000,14.5,31.0,29-Dec-14
140,Toyota,Tacoma,84.087,9.575000,Car,11.528000,2.4,142.0,103.3,66.5,178.7,2.580000,15.1,23.0,8-Jan-15
141,Toyota,Sienna,65.119,18.072975,Car,22.368000,3.0,194.0,114.2,73.4,193.5,3.759000,20.9,22.0,10-May-14
142,Toyota,RAV4,25.106,13.325000,Car,16.888000,2.0,127.0,94.9,66.7,163.8,2.668000,15.3,27.0,5-Jun-15
143,Toyota,4Runner,68.411,19.425000,Car,22.288000,2.7,150.0,105.3,66.5,183.3,3.440000,18.5,23.0,3-Jul-15
144,Toyota,Land Cruiser,9.835,34.080000,Car,51.728000,4.7,230.0,112.2,76.4,192.5,5.115000,25.4,15.0,25-Sep-15
145,Volkswagen,Golf,9.761,11.425000,Passenger,14.900000,2.0,115.0,98.9,68.3,163.3,2.767000,14.5,26.0,24-Jan-15
146,Volkswagen,Jetta,83.721,13.240000,Passenger,16.700000,2.0,115.0,98.9,68.3,172.3,2.853000,14.5,26.0,27-Aug-15
147,Volkswagen,Passat,51.102,16.725000,Passenger,21.200000,1.8,150.0,106.4,68.5,184.1,3.043000,16.4,27.0,30-Oct-14
148,Volkswagen,Cabrio,9.569,16.575000,Passenger,19.990000,2.0,115.0,97.4,66.7,160.4,3.079000,13.7,26.0,31-May-15
149,Volkswagen,GTI,5.596,13.760000,Passenger,17.500000,2.0,115.0,98.9,68.3,163.3,2.762000,14.6,26.0,4-Jan-15
150,Volkswagen,Beetle,49.463,18.072975,Passenger,15.900000,2.0,115.0,98.9,67.9,161.1,2.769000,14.5,26.0,20-Oct-15
151,Volvo,S40,16.957,18.072975,Passenger,23.400000,1.9,160.0,100.5,67.6,176.6,2.998000,15.8,25.0,18-Feb-15
152,Volvo,V40,3.545,18.072975,Passenger,24.400000,1.9,160.0,100.5,67.6,176.6,3.042000,15.8,25.0,21-Sep-15
153,Volvo,S70,15.245,18.072975,Passenger,27.500000,2.4,168.0,104.9,69.3,185.9,3.208000,17.9,25.0,24-Nov-14
154,Volvo,V70,17.531,18.072975,Passenger,28.800000,2.4,168.0,104.9,69.3,186.2,3.259000,17.9,25.0,25-Jun-15
155,Volvo,C70,3.493,18.072975,Passenger,45.500000,2.3,236.0,104.9,71.5,185.7,3.601000,18.5,23.0,26-Apr-15
156,Volvo,S80,18.969,18.072975,Passenger,36.000000,2.9,201.0,109.9,72.1,189.8,3.600000,21.1,24.0,14-Nov-15

In [37]:
#5 Print number of rows and columns after dropping duplicates
rows=df.shape[0]
colums=df.shape[1]
print(rows)
print(columns)

157
15

In [38]:
#6. Print summary statistics for numerical variables
print(df.describe())

       Sales in thousands  4-year resale value  Price in thousands  \
count          157.000000           157.000000          157.000000
mean            52.998076            18.072975           27.390755
std             68.029422            10.045282           14.259359
min              0.110000             5.160000            9.235000
25%             14.114000            12.545000           18.145000
50%             29.450000            17.710000           23.400000
75%             67.956000            18.140000           31.930000
max            540.561000            67.550000           85.500000

       Engine size  Horsepower   Wheelbase      Width      Length  \
count   157.000000  157.000000  157.000000  157.00000  157.000000
mean      3.060897  185.948718  107.487179   71.15000  187.343590
std       1.041299   56.518297    7.616772    3.44079   13.388635
min       1.000000   55.000000   92.600000   62.60000  149.400000
25%       2.300000  150.000000  103.000000   68.40000  177.600000
50%       3.000000  180.000000  107.000000   70.60000  187.800000
75%       3.500000  215.000000  112.200000   73.40000  196.100000
max       8.000000  450.000000  138.700000   79.90000  224.500000

       Curb weight  Fuel capacity  Fuel efficiency
count   157.000000     157.000000       157.000000
mean      3.378026      17.951923        23.844156
std       0.626447       3.875440         4.241326
min       1.895000      10.300000        15.000000
25%       2.975000      15.800000        21.000000
50%       3.368000      17.200000        24.000000
75%       3.778000      19.500000        26.000000
max       5.572000      32.000000        45.000000

In [39]:
# 7. Print number of missing values in each column
print(df.isnull().sum())

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [ ]:
#. Drop the column with most missing values
missing= df.isnull().sum().idxmax()

# Step 2: Drop the column
df_dropped = df.drop(columns=[missing])

In [ ]:
#9. Drop the rows with categorical missing values

In [ ]:
#10. Import the rows with numerical missing values
df[" "].fillna(df[" "].mean(), inplace=True)

In [ ]:
#11. Sort the data w.r.t price_find the details of the most and the least expensive cars

In [ ]:
#12. Write a function to find min and max values of any column

In [ ]:

# Check missing values before imputation
print("Missing values before:\n", df.isnull().sum())
df["Sales in thousands"].fillna(df["Sales in thousands"].mean(),
inplace=True)
print("Missing values after:\n", df.isnull().sum())
print(df.head())

In [ ]:
# Load the dataset
df = pd.read_csv("car_sales.csv")
# Function to find min and max values of any column
def find_min_max(df, column_name):
  min_value = df[column_name].min()
  max_value = df[column_name].max()
# Find the rows with the min and max values
  min_row = df[df[column_name] == min_value]
  max_row = df[df[column_name] == max_value]
return min_value, max_value, min_row, max_row
# Now call the function to find min and max for 'Horsepower'
  hp_min, hp_max, hp_min_row, hp_max_row = find_min_max(df,
"Horsepower")
# Print results
 print("\nHorsepower - Min:", hp_min, "\n", hp_min_row)
 print("\nHorsepower - Max:", hp_max, "\n", hp_max_row)